.user-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  margin: 0;
}

.user-name:hover {
  color: var(--primary);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  max-width: 80%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.modal-content p {
  margin: 10px 0;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}

.modal-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Arial", sans-serif;
}

.modal-button-yes {
  background-color: #4caf50;
  color: white;
}

.modal-button-yes:hover {
  background-color: #45a049;
}

.modal-button-no {
  background-color: #f44336;
  color: white;
}

.modal-button-no:hover {
  background-color: #e53935;
}

@media only screen and (max-width: 840px) {
  .user-name-container {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}
