header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  transition: 0.5s;
  z-index: 1001;
}

header.scrolled {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid var(--primary);
  border-image: linear-gradient(90deg, transparent, var(--primary), transparent)
    30;
  backdrop-filter: blur(20px);
  padding: 10px 100px;
}

.logo {
  font-family: "Racing sans One", cursive;
  font-size: 35px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}

.nav {
  display: flex;
}

header .nav-btn {
  padding: 1px 5px;
  font-size: 27px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
}

.nav-close-btn {
  color: black;
  position: absolute;
  top: 7%;
  right: 10%;
}

.nav-btn:hover {
  background-color: transparent;
}

/* smaller screens css */

@media only screen and (max-width: 1300px) {
  .header {
    padding: 30px 100px;
  }
}

@media only screen and (max-width: 1111px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgba(255, 255, 255, 0.841);
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 3000;
  }

  .responsive_nav {
    transform: none;
  }
}

@media only screen and (max-width: 1111px) {
  header {
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
  }
}

@media only screen and (max-width: 750px) {
  .logo {
    font-size: 1.8rem;
  }
}
